#bloc_page {
    flex-direction: column;
    width: auto;
    margin: auto;
  }

#part_1{ display:flex; flex-direction: row; width: 100%;}

#logo{width: 20%;}
#logo img {width: 100px;
    height: 70px;}

#navigation li :last-child {color:blue; position:absolute;}

#navigation a:hover{
    text-decoration: underline; color: #0065fc; 
    }
#slogan {position: bottom; width: 100%; margin-top: 50px;}


#part_2{float:center; }
#rechercher{width: 100%;}
.bouton {display: none; }

#filtre {width: 100%;}

a {flex-direction: column;}

   nav ul
    {
        flex-direction: row-reverse;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    nav a
    {
        font-size: 1.1em;
    }
    #filtre {width: 30%; flex-wrap: wrap;}

    