body {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em; cursor: pointer;
  display: flex; justify-content: stretch;
  flex-direction: column;
  flex-basis: 90%;
  max-width: 90%;
}
h1, h2 {
  font-size: 1.2em;
  text-align: justify;
}

h2 {width: 100%;}

p {
  font-family:"Raleway", sans-serif; 
  font-size: 1em; color:grey;
  text-align: left;
}
header {
  display: flex; flex-shrink: 1;
  flex-direction: column; justify-content: stretch;width: 100%;
}

.head_bloc_1 {
  display: flex;
  width: 100%; flex-basis: 100%;
  height: 50%; 
  flex-direction: row; flex-wrap: wrap;
  justify-content: space-between; 
}
.logo {
  width:50%;flex-shrink: 1;
}
.logo img {
  width: 140px;
  height: 100px; 
  top:0px;
  left:0px;
}
.navigation {
  width: 40%; flex-shrink: 2;
  float:right;
  display: flex;
  flex-direction: row; justify-content: space-evenly;
}

.navigation ul, .filtre ul {
    display: flex; justify-content: space-between; padding-left: 0;
    list-style-type: none; flex-direction: row;
    color: grey;
     }
  
    .navigation a , .filtre a {
    color: grey; text-decoration: none;
    justify-content: space-between; padding-top: 25px;
    
  }
  .navigation a{ float: right; padding-left: 40px; padding-right: 40px; text-align: right;}

  .navigation a:hover {
    border-top: solid; 
    border-width: 1px; 
    border-color:#0065fc; background-color:white; color: #0065fc;
    padding-top: 30px;
    }
    .subscribe a{ color:#0065fc;}
.slogan {
  width:100%; height: 50%;flex-shrink: 3;
}
.head_bloc_2 {
  display:flex; height: 50%;
  flex-direction: column;
  }
.rechercher {
  display: flex; 
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: left;
}
.rechercher form{ display: flex; flex-direction: row; justify-content: stretch;}
.rechercher i{
  color:black; 
  width: 4px; 
  background-color:#f2f2f2;
  border-radius: 10px 0px 0px 10px;
  padding: 15px; 
  padding-right: 20px; 
  padding-left: 20px;
}

.zone_recherche {
  border:solid; 
  border-width: 1px; 
  border-color:#f2f2f2;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bolder;
}
/*règle specifique au bouton rechercher en fonction de la taille de l'écran*/
.bouton {
  background-color: #0065fc; width: 130px;
  border: none;
  padding: 10px; padding-right: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
  border-radius: 0px 10px 10px 0px;
}
.rechercher form .fas{
  display:none;
}
.filtre {
display: flex; margin-left: 0px;
flex-direction:row; padding-top:2%;
align-items: flex-start; justify-content: stretch; 
flex-wrap: wrap; 
width: 80%; height: 20%;
}
.filtre ul{display: flex; flex-direction:row; justify-content: space-evenly; height: 10%;}
.filtre h2{width: 10%;}

.filtre a { 
margin: 4px; width: 100%; 
padding-top:6px; 
padding-bottom:6px; 
padding-right: 18px; padding-left: 0px;
border:3px solid grey;
border-color:#f2f2f2; 
border-radius: 20px 20px 20px 20px; 
color: black; 
font-weight: bold;
}
.filtre li :hover{ background-color: #0065fc; color:#f2f2f2;}

.filtre .fas {
  color:#0065fc; 
  background-color:#DEEBFF; 
 margin-top:0px; margin-right: 4px; margin-left:0px;
 margin-bottom: 4px ; 
 padding:12px; padding-top:10px;
 border:5px; 
 border-radius: 20px 20px 20px 20px;
}
.filtre p .fas{
  background-color: white; 
  border: solid #f2f2f2 1px; 
  border-radius: 20px 20px 20px 20px;
}
 .section_1 .grey_star .fas 
{
   color:#f2f2f2;
}
.section_1 {
  display: flex; 
  width: 100%; flex-basis: 100%;
  flex-direction: row;
  justify-content: space-between; 
  margin-bottom: 20px;
  padding-top: 50px; 
}
.section_1 .fas {
  color:#0065fc;
}
span {
  font-weight: bolder; width:100%;
}
article h2{margin-left: 5%;}
article{
  width: 60%; flex-basis:60%;
  display: flex; flex-shrink: 1;
  flex-direction: row; 
  flex-wrap: wrap;
  background-color: #f2f2f2;
  justify-content: center;
  margin-bottom: 5px; padding-right: 10px; padding-left: 10px;
  padding-top: 20px; border-radius: 10px; margin-right: 15px; margin-left:15px; 
  }

article a {
  background-color: white; 
  padding-top: 5px; 
  display: flex;
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px; margin-right: 20px; margin-bottom: 30px; 
  margin-top: 5px; 
  border-radius: 15px; 
  border:5px none grey; 
  box-shadow: 10px 10px 10px #f2f2f2;
  text-decoration: none; 
  color:black; 
  text-align: left;}

.star {
  display: flex; padding-top:5%;
  flex-direction: row;}

article img {width: 270px; flex-shrink: 2; object-fit: cover;
  height: 210px; 
  border-radius: 15px; 
  margin-bottom: 30px;}

aside
{ width:30%; 
  display: flex; 
  flex-direction:column;
  background-color: #f2f2f2;
  justify-content: space-evenly;
  align-content: center;
  margin-bottom: 5px;
  padding-top: 10px; padding-left: 20px; padding-bottom: 10px;
  border-radius: 10px; margin-left: 15px; padding-right: 15px}

aside a
{
  background-color: white;
  padding-top: 2px; 
  display: flex;
  flex-direction: row;
  width:90%; height: 200px;
  padding-bottom: 0px; 
  padding-left: 5px; 
  margin-left:15px; 
  margin-right:10px; 
  margin-bottom: 10%; 
  margin-top: 5px;
  border-radius: 15px;
  border:1px none grey;
  text-decoration: none; 
  color:black;}
  aside a .tout_bleu{height: 200px;}
  .text_aside, .text_aside .tout_bleu{
    width: 60%; position:relative;
    padding-top: 5%;}

aside img {width:45%; margin-right: 2%; padding:1%; object-fit: cover;
  max-height: 100%; border-radius: 15px 0px 0px 15px; float: left;}
  .section_1 .tout_bleu img{width:50%;object-fit: cover;max-height: 100%}
aside h2 .fas{float:right;margin-bottom:10%;margin-right:10%;}
aside .star{ position:absolute; bottom:20px;}
h2{width: 100%;}
.section_2 {
  display: flex; 
  flex-direction: row; 
  margin-bottom: 10px; 
  justify-content: space-between; flex-wrap:wrap;
  padding-top: 20px; align-items: center; flex-basis: 100%;
}
.section_2 a {display: flex; flex-shrink: 1;flex-basis: auto;
  display: inline-block;
  text-decoration: none; 
  color:black; 
  padding-bottom: 2px;
  margin-bottom: 10px; border-width : 15px; border-radius: 20px;
  border:1px none grey; box-shadow: 5px 5px 5px #f2f2f2; }

.section_2 span{
margin-left: 10%;
}
.section_2 img
{ height: 180px; width: 300px; border-width: 10px 10px 5px 0; border-radius: 20px;
  padding-top: 0px;flex-shrink: 1; object-fit: cover;
  padding-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px; margin-left: 20px;
  }
  .petite_image
  {
    display: flex; flex-direction: column;flex-shrink: 1;
  }
  .grande_image{
    height: 470px;
  }
  .section_2 .grande_image img {
    height:80%;
  }
  footer {
    background-color: #f2f2f2; width: 100%;
    display: flex;
    justify-content: space-between; margin-right: 0px; 
  }

footer ul {
  list-style-type: none;
  color: grey;
  text-decoration: none; display: flex; flex-direction: column;
}

footer li {
  display: flex; padding-bottom: 15px;
  margin-left: 0;
}
/*responsive pour larges résolutions  */
@media only screen and (min-device-width: 769px) and (max-device-width: 1325px) {
  body {
    justify-content: stretch;
        max-width: 90%;}
  .filtre{width: 100%;}
  .section_1{flex-direction: column-reverse;}
  aside{flex-direction: row; 
    justify-content: stretch; width: 100%; flex-wrap: wrap; padding-right: 0;}
  aside h2{width: 100%; display: flex; justify-content: stretch; height: 30px;}
 
  aside a{width: 30%; flex-basis:30%; margin-right: 0;}
  .section_1 .tout_bleu img{max-width:100px;}
  aside h2 .fas{margin-left:5%;}
  .text_aside, .text_aside .tout_bleu{
    width: 50%; font-size:smaller;flex-shrink: 1;}
    aside .star{flex-shrink: 2;bottom:10px; left:10px;}
    aside .tout_bleu img{flex-shrink: 1; width: 50%;}
    aside img{flex-shrink: 1; width: 40%;}
  article{width:100%;}
    header {
      max-width: 100%;
 }
 .head_bloc_1{width: 90%; display: flex; justify-content: stretch;}
.logo{width: 40%; }
    .navigation ul{width: 60%;padding-left: 0; display: flex;justify-content: stretch;}
    .navigation a{justify-content: stretch;}
        .slogan {
  width: 100%;}
  .bouton{
    display:none;
  }
  .rechercher form .fas{
    display: flex; float: right; margin-top: 30px;
    color:white; 
    background-color:#0065fc;
    margin-right: 4px; 
    margin-top:2px; 
    margin-bottom: 5px ; 
    padding-top: 10px; padding-bottom: 10px;
    padding-right: 30px; 
    padding-left: 20px;
    border:5px; 
    border-radius: 10px 10px 10px 10px;
  }
  .head_bloc_2{margin-top:10%; width: 100%;display: flex;}
  .filtre{justify-content: stretch;}
  .filtre{width:100%;}
  .filtre ul{ width: auto; flex-wrap: wrap; padding-left:2px;}
  .filtre a {width:50%;}
.filtre h2{ width: 100%;}
.section_2 {
  justify-content: space-between;
}
.section_2 img, .section_2 .grande_image img
{ max-width: 300px;
}

}

/*responsive pour plus petites résolutions inf à 769px*/
@media all and (max-width: 768px)
{
  .logo {
    width: 80%;position:relative;
  }
  .logo img {
    width: 50%; position:relative;margin-bottom: 5%;
  }
  .navigation {
      width: 100%;
      float:right; flex-wrap:wrap;
      display: flex;
      flex-direction: row;
    }
  
  .navigation ul{flex-wrap:wrap-reverse;}
  .navigation li{position:relative;}
  .navigation ul .subscribe{width:100%; position:absolute;left:200px;bottom:70px;}
  .navigation ul .activites{width:50%; position:absolute;left:170px; bottom:0.5px; }
  .navigation ul .hebergements{position:absolute; width:50%; bottom:0.5px;}
  .navigation a:hover {
    border-bottom: solid; border-top:none;
    border-width: 1px; 
    border-color:#0065fc; background-color:white; color:#0065fc;
    padding-bottom: 10px;
    }
   
.rechercher {
  width: 100%; justify-items: flex-start; flex-shrink: 2;
}
.zone_recherche{width:70%;}
 .filtre {width: 100%; margin-left : 0px; margin-right: 0px;
  }
  .filtre h2{width: 100%;}
  .filtre ul { display: flex; width: 90%; margin-left : 0px;
   flex-wrap: wrap; justify-content: space-between;
  }  
  .filtre li {margin-left: 0%;
  }
.section_1{
  flex-direction: column-reverse; justify-content: stretch;
  align-items: center; 
  width: 90%; 
}
article {
  width: 100%; margin-left: 10%;
  flex-direction: column; 
  align-items: center; background:none;
}
article h2{margin-left: 0%;}
article a, .section_2 a
{ 
  padding-top: 0px; margin-left:0;
  padding-bottom: 15px;
  padding-right: 0px; margin-bottom: 15px;
}
article a{width: 100%; margin-right: 0;}
article img
  { max-height: 210px; width: 100%; border-width: 10px 10px 5px 0; border-radius: 20px;
    padding-top: 0px; object-fit: cover;
    padding-bottom: 15px;
    padding-right: 0px; margin-bottom: 15px;
    padding-left: 0px; margin-right: 0%;
    }

aside {
  width: 100%;margin-left:10%;padding-left: 0;}
  aside h2{width: 100%; display: flex; justify-content: stretch; height: 30px;}
  aside h2 .fas{margin-left:10%;}
aside a{
  text-align: left; margin-right: 10%; margin-left: 5%;
  max-width: 470px; height: 40%;
}
.section_1 aside img{max-width: 450px; 
  height: 200px;object-fit: cover;}
  .section_1 .tout_bleu img{max-width: 450px; } 
.section_2 { 
    flex-direction: column; width: 90%; justify-content: center; margin-left:7%;
     flex-basis:100%;}
     .section_2 a, .section_2 .grande_image{
      height: 300px; min-width: 100%; flex-shrink: 1;flex-basis:100%;
    }
    .section_2 .petite_image{
      flex-direction: row; 
      justify-content: space-evenly; 
      flex-wrap: wrap; 
      width:100%}
         
       .section_2 img, .section_2 .grande_image img {
         height:80%;margin-left:0; flex-basis:1;
         object-fit: cover;
         max-height:225px;width: 100%;
       }
       .section_2 span{
        margin-left: 0%;
        }
       
footer{
  flex-direction: column; width: 100%; justify-content: space-evenly;
  text-align: left;
}
}